{% extends 'travel_wishlist/base.html' %}
{% load staticfiles %}
{% block content %}

<h2>{{ place.name }}</h2>

<h3>Notes</h3>

{% if place.visited_date %}
  <p>{{ place.visited_date }}</p>
{% else %}
  <p>No date selected</p>
{% endif %}

{% if place.note %}
  <p>{{ place.note }}</p>
{% else %}
  <p>No Notes</p>
{% endif %}

<form action="{% url 'place' pk=place.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ rp_form }}
<button type="submit">Save</button>
</form>

{% endblock %}
